# Node.js
node_modules/
npm-debug.log*

# Environment
.env
*.env
.env.*
!.env.example
apps/**/.env

# Python
venv/
env/
ENV/
apps/**/venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Static uploads
!public/uploads/cover-book-*.jpg
!public/uploads/cover-book-*.png

# Archives
*.tar.gz
*.zip
